body {
    background-color: #212121;
    color: #fbfbfb;
    display: block;
    font-family:'Lucida Console', monospace;
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}